/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* Navigation Menu Bar */
.navbar {
    background-color: #66ff66;
    color: #69ffff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ddd;
}

main {
    padding: 200px;
}

/* Page Content Container */
.container {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Home Page */
.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
}

/* Other Pages */
/* Add specific styles for Settings, Timers, and On-The-Fly pages here */

/* Footer (optional) */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}