/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* Navigation Menu Bar */
.navbar {
    background-color: #666;
    color: #ffffff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ddd;
}

/* Page Content Container */
.container {
    margin-top: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.container-dark {
    margin: 5px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    background-color: #a0a0a0;
    text-align: center;
}

/* Home Page */
.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.container p {
    margin-top: 10px;
    font-size: 18px;
}

/* Other Pages */
/* Add specific styles for Settings, Timers, and On-The-Fly pages here */

/* Login Page */
.login {
    padding: 10px;
}

.login input {
    margin: 20px;
}

/* Schedule Page */
.drop-title {
    padding-top: 5px;
}

.drop-down {
    margin: 20px;
    text-align: center;
}

.inline-row {
    display: inline-block;
}

.schedule input{
    width: 5rem;
}

/* Settings Page */
.update-solenoid-names {
    padding: 3px;
}

.settings-submit {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}

.buttons {
    margin: 20px;
}

/* Footer (optional) */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}