{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Settings {% endblock %}</h1>
    <a class="btn btn-dark back-button" href="{{ url_for('Interface:settings') }}">Back</a><br><br><br>
    
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="login">
        <form action="{{ url_for('Interface:add_user') }}" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required><br>
            <input type="password" name="password_2" placeholder="Confirm Password" id="password_2" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}