{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to GreenFlow {% endblock %}</h1>
    
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="row">
    {% for solenoid in solenoids %}
        <div class="col-sm container-dark">
            <p>{{ solenoid.name }} is {{ "on" if solenoid.state else "off" }}</p>
            <a class="btn btn-primary" href="/toggle_solenoid/{{ solenoid.id }}">{{ "Turn off" if solenoid.state else "Turn on" }}</a><br><br>
        </div>
    {% endfor %}
    </div>
{% endblock %}
