{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to GreenFlow {% endblock %}</h1>
    
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="row">
    {% for solenoid in solenoids %}
        <div class="col-sm container-dark inline-row">
            <p>{{ solenoid.name }} is {{ "on until" if solenoid.state else "off" }}</p>
            <a class="btn btn-primary" href="{{ url_for('toggle_solenoid', id=solenoid.id) }}">{{ "Turn off" if solenoid.state else "Turn on for" }}</a><br><br>
            {% if not solenoid.state %}
            <input type="number" name="length" placeholder="20" id="length">
            <p>minutes</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
