{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Settings {% endblock %}</h1>

    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="buttons">
        <a class="btn btn-dark" href="{{ url_for('rename') }}">Rename garden section</a><br><br>
        <a class="btn btn-dark" href="{{ url_for('update_user') }}">Change username</a><br><br>
        <a class="btn btn-dark" href="{{ url_for('update_pass') }}">Change password</a><br><br>
        {% if user.is_admin %}
        <a class="btn btn-dark" href="{{ url_for('add_user') }}">Add new user</a><br><br>
        <a class="btn btn-dark" href="{{ url_for('del_user') }}">Delete user</a><br><br>
        {% endif %}
    </div>
{% endblock %}