{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Settings {% endblock %}</h1>

    <div class="update-solenoid-names">
        <form action="{{ url_for('Interface:update_solenoid_names') }}" method="post">
            {% for solenoid in solenoids %}
                <p class="drop-title">New name for {{ solenoid.name }}: </p>
                <input type="text" name="{{ solenoid.id }}" placeholder="{{ solenoid.name }}" id="{{ solenoid.id }}">
                <div class="msg">{{ msg }}</div>
            {% endfor %}
            <input class="settings-submit" type="submit" value="Set">
        </form>
    </div>
{% endblock %}