{% extends 'base.html' %}

{% block content %}
    <div class="settings">
        <a class="btn btn-dark back-button" href="{{ url_for('Interface:settings') }}">Back</a><br><br>
        <h1 class="inline">{% block title %} Settings {% endblock %}</h1>

        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="update-users">
            <form action="{{ url_for('Interface:update') }}" method="post">
                <p class="">Update username:</p>
                <input type="text" name="new_name" id="new_name"><br><br>
                <p class="">Update password:</p>
                <input type="password" name="new_pass" id="new_pass"><br>
                <p class="">Confirm password:</p>
                <input type="password" name="new_pass_2" id="new_pass_2"><br>
                <input class="settings-submit" type="submit" value="Set">
            </form>
        </div>
    </div>
{% endblock %}