{% extends 'base.html' %}

{% block content %}
    <div class="settings">
        <h1 class="inline">{% block title %} Settings {% endblock %}</h1>
        <a class="btn btn-dark back-button" href="{{ url_for('settings') }}">Back</a><br><br><br>

        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        
        <p class="container-dark">Updating user: {{ user.username }}</p><br>
        <div class="update-users">
            {% if which == "user" %}
            <form action="{{ url_for('update_user') }}" method="post">
                <div class="container-dark">
                    <p class="">Update username:</p>
                    <input type="text" name="new_name" id="new_name"><br><br>
                </div>
                <input class="settings-submit" type="submit" value="Set">
            </form>
            {% endif %}
            {% if which == "pass" %}
            <form action="{{ url_for('update_pass') }}" method="post">
                <div class="container-dark">
                    <p class="">Update password:</p>
                    <input type="password" name="new_pass" id="new_pass"><br>
                    <p class="">Confirm password:</p>
                    <input type="password" name="new_pass_2" id="new_pass_2"><br><br>
                </div>
                <input class="settings-submit" type="submit" value="Set">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}